parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - *Test*
        - *tests*
    level: max
    bootstrapFiles:
        - vendor/codeception/codeception/autoload.php
    ignoreErrors:
        - '#Property Codeception\\Module\\Percy::\$webDriver#'
