parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - *Test*
        - *tests*
    level: 8
    ignoreErrors:
        - '#Property Codeception\\Module\\Percy::\$webDriver#'
